# Binaries for programs and plugins
*.so
*.jpeg
*.jpg
*.zip
*.png
*.dylib
*.env
*.npy
*.npz
*.pb
*.pkl
*.pt
*.pth
*.index
*.h5
*.tflite
*.gz
*.cuda
*.contiguous
*.tar
*.tfrecord
*.p
variables/
tmp/
tf.data.Dataset.from_tensor_slices/
tb/
some/
saved_model/
save_test.tf/
save/
mymodel.pb/
mymodel.h5/
model.h5/
model/
mnist_model/
logs/
a.tf/
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Dependency directories (remove the comment below to include it)
vendor/
ml_repos_cloned/
fuzzers/
tf-output/
